.login-form-container {
  width: 50%;
  flex: 1;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: var(--font-family-display);
  font-size: 2rem;
  font-style: italic;
  color: var(--color-mintgreen);
  margin-bottom: 2rem;
}

.underline {
  text-decoration: underline;
}
