.login-form-container {
  width: 50%;
  height: 100%;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-family: var(--font-family-display);
  font-size: 2rem;
  color: var(--color-mintgreen);
  margin-bottom: 2rem;
}
