.page-content-container {
  width: 100%;

  margin-top: 6rem;

  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) {
  .page-content-container {
    min-height: calc(100vh - 6rem);
    flex-direction: row;
  }
}
