.login-form {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 1280px) {
  .login-form form {
    width: 50%;
  }
}

.error-message {
  height: 1.375rem;
  width: 100%;

  margin: 0.5rem 0;

  color: var(--color-offwhite);

  font-family: var(--font-family-paragraph);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

label {
  width: 100%;

  margin: 0.5rem 0;

  color: var(--color-mintgreen);

  font-family: var(--font-family-paragraph);
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

.text-input-container {
  width: 100%;

  padding: 0.25rem;
  border: 0.125rem solid var(--color-mintgreen);
  margin-bottom: 1rem;
}

.text-input-container:last-of-type {
  margin-bottom: 2rem;
}

input[type='text'],
input[type='password'] {
  width: 100%;

  padding: 0.5rem;
  border: none;

  font-family: var(--font-family-paragraph);
  font-size: 1.25rem;
  font-weight: 400;

  color: var(--color-offwhite);
  background: none;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

input[type='text']::placeholder,
input[type='password']::placeholder {
  font-style: italic;
  color: rgba(243, 242, 241, 0.5);
}

input[type='text']:focus::placeholder,
input[type='password']:focus::placeholder {
  color: transparent;
}

input[type='text']:focus,
input[type='password']:focus {
  outline: none;
  color: var(--color-black);
  background-color: var(--color-mintgreen);
}

input[type='submit'] {
  width: 60%;

  padding: 0.5rem 1rem;
  border: 0.125rem solid var(--color-mintgreen);
  margin-bottom: 1rem;

  font-family: var(--font-family-display);
  font-size: 1.25rem;

  color: var(--color-mintgreen);
  background: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
}

input[type='submit']:focus,
input[type='submit']:hover {
  outline: none;
  color: var(--color-black);
  background-color: var(--color-mintgreen);
}

.help {
  color: var(--color-mintgreen);

  font-family: var(--font-family-paragraph);
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  transition: text-decoration 0.15s ease-in-out;
}

.help:hover,
.help:focus {
  text-decoration: underline;
}

.help:focus {
  outline: none;
}
