.login-form {
  width: 100%;
}

form {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

label {
  width: 50%;

  padding: 0.5rem 0;

  color: var(--color-mintgreen);

  font-family: var(--font-family-paragraph);
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

.text-input-container {
  width: 50%;

  padding: 0.5rem;
  border: 0.125rem solid var(--color-mintgreen);
  margin-bottom: 1rem;
}

.text-input-container:last-of-type {
  margin-bottom: 1.5rem;
}

input[type='text'],
input[type='password'] {
  width: 100%;

  padding: 0.5rem;
  border: none;

  font-family: var(--font-family-paragraph);
  font-size: 1.25rem;
  font-weight: 400;

  color: var(--color-offwhite);
  background: none;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

input[type='text']::placeholder,
input[type='password']::placeholder {
  color: rgba(243, 242, 241, 0.5);
}

input[type='text']:focus::placeholder,
input[type='password']:focus::placeholder {
  color: rgba(30, 34, 35, 0.5);
}

input[type='text']:focus,
input[type='password']:focus {
  outline: none;
  color: #000000;
  background-color: var(--color-mintgreen);
}

input[type='submit'] {
  width: 30%;

  padding: 0.5rem 1rem;
  border: 0.125rem solid var(--color-mintgreen);

  font-family: var(--font-family-display);
  font-size: 1.25rem;

  color: var(--color-mintgreen);
  background: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
}

input[type='submit']:focus,
input[type='submit']:hover {
  outline: none;
  color: #000000;
  background-color: var(--color-mintgreen);
}
