.footer-content-container {
  width: 100%;
  /* padding: 4rem 2rem; */
  padding: 4rem;
  background-color: var(--color-black);
  border-top: 0.0625rem solid rgba(243, 242, 241, 0.5);
}

.top,
.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.top {
  margin-bottom: 2rem;
}

.top .left,
.bottom .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.top .left p,
.bottom .left p {
  text-align: left;
}

.top .right,
.bottom .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.top .right p,
.bottom .right p {
  text-align: right;
}

.top .right .social-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top .right .social-links a {
  margin-left: 1rem;
  text-align: right;
  color: var(--color-offwhite);
  transition: color 0.15s ease-in-out;
}

.top .right .social-links a:first-of-type {
  margin-left: 0;
}

.top .right .social-links a:hover,
.top .right .social-links a:focus {
  outline: none;
  color: var(--color-mintgreen);
}

.footer-content-container .title,
.footer-content-container .accent {
  margin-bottom: 0.5rem;
  font-family: var(--font-family-paragraph);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-mintgreen);
}

.footer-content-container .accent {
  color: var(--color-mintgreen);

  font-family: var(--font-family-paragraph);
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-content-container .accent-white {
  color: var(--color-offwhite);

  font-family: var(--font-family-paragraph);
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-content-container .title:not(:first-child) {
  margin-top: 1rem;
}

.footer-content-container .content {
  font-family: var(--font-family-paragraph);
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-offwhite);
  transition: color 0.15s ease-in-out;
}

.footer-content-container .content:focus {
  outline: none;
  color: var(--color-mintgreen);
}

.footer-content-container .content .link {
  color: var(--color-offwhite);
  margin-left: 0;
}

.footer-content-container .content .link:focus {
  outline: none;
  color: var(--color-mintgreen);
}
