.footer-content-container {
  width: 100%;
  padding: 2rem;
  background-color: var(--color-black);
  border-top: 0.0625rem solid rgba(243, 242, 241, 0.5);

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.first-quadrant,
.second-quadrant,
.third-quadrant,
.fourth-quadrant {
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-quadrant p,
.third-quadrant p {
  text-align: center;
}

.second-quadrant p,
.fourth-quadrant p {
  text-align: center;
}

.second-quadrant .social-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.second-quadrant .social-links a {
  margin-left: 1rem;
  text-align: center;
  color: var(--color-offwhite);
  transition: color 0.15s ease-in-out;
}

.second-quadrant .social-links a:first-of-type {
  margin-left: 0;
}

.second-quadrant .social-links a:hover,
.second-quadrant .social-links a:focus {
  outline: none;
  color: var(--color-mintgreen);
}

.footer-content-container .title,
.footer-content-container .accent {
  margin-bottom: 0.5rem;
  font-family: var(--font-family-paragraph);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-mintgreen);
}

.footer-content-container .accent {
  color: var(--color-mintgreen);

  font-family: var(--font-family-paragraph);
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-content-container .accent-white {
  color: var(--color-offwhite);

  font-family: var(--font-family-paragraph);
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-content-container .title:not(:first-child) {
  margin-top: 1rem;
}

.footer-content-container .content {
  font-family: var(--font-family-paragraph);
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-offwhite);
  transition: color 0.15s ease-in-out;
}

.footer-content-container .content:focus {
  outline: none;
  color: var(--color-mintgreen);
}

.footer-content-container .content .link {
  color: var(--color-offwhite);
  margin-left: 0;
}

.footer-content-container .content .link:focus {
  outline: none;
  color: var(--color-mintgreen);
}

@media (min-width: 1024px) {
  .footer-content-container {
    padding: 4rem;
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .first-quadrant,
  .second-quadrant,
  .third-quadrant,
  .fourth-quadrant {
    width: 50%;
    margin-bottom: 2rem;
  }

  .first-quadrant,
  .third-quadrant {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .second-quadrant,
  .fourth-quadrant {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .first-quadrant p,
  .third-quadrant p {
    text-align: left;
  }

  .second-quadrant p,
  .fourth-quadrant p {
    text-align: right;
  }
  .second-quadrant .social-links a {
    text-align: right;
  }
}
