.login-media-container {
  width: 50%;
  flex: 1;

  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: var(--color-offwhite); */
  background-color: var(--color-mintgreen);
}

.art {
  width: 80%;
}
